services:
    app:
        build: .
        container_name: gonzaplus_development
        ports:
            - "8000:8000"
        volumes:
            - .:/var/www/html
        working_dir: /var/www/html
        tty: true # Permite usar la consola interactiva
