@media (width < 48rem) {
    .side-nav {
        position: absolute;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }
}

.show-sideNav {
    transform: translateX(0);
}
