.content {
    opacity: 0;
    transform: translateY(100px);
    transition:
        opacity 1.5s ease,
        transform 1.5s ease;
}

.content.visible {
    opacity: 1;
    transform: translateY(0);
}

.loader {
    background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #f2f2f2;
    background-size: 300% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {
        background-position: right;
    }
}
